<% if logged_in? %>
  <% if post.favorited_by?(current_user) %>
    <%= link_to post_favorite_path(post),
          data: { turbo_method: :delete },
          class: "btn btn-outline-danger rounded-pill" do %>
      <i class="fa-solid fa-heart"></i>
      <%= post.favorites.count %>
    <% end %>
  <% else %>
    <%= link_to post_favorite_path(post),
          data: { turbo_method: :post },
          class: "btn btn-outline-secondary rounded-pill" do %>
      <i class="fa-regular fa-heart"></i>
      <%= post.favorites.count %>
    <% end %>
  <% end %>
<% else %>
  <span class="text-muted">
    <i class="fa-regular fa-heart"></i>
    <%= post.favorites.count %>
  </span>
<% end %>
