<div class="card shadow-sm border-0 rounded-4 mb-3">
  <div class="card-body">

    <div class="row align-items-center">

      <div class="col-md-3 text-center">
        <% if dog.image.attached? %>
          <%= image_tag dog.image,
              class: "rounded-circle",
              style: "width: 150px; height: 150px; object-fit: cover;" %>
        <% else %>
          <div class="bg-light rounded-circle d-flex justify-content-center align-items-center mx-auto"
               style="width:150px; height:150px;">
            No Image
          </div>
        <% end %>
      </div>

      <div class="col-md-7">
        <h5 class="fw-bold"><%= dog.name %></h5>

        <p class="mb-1"><strong>犬種：</strong><%= dog.breed %></p>
        <p class="mb-1"><strong>サイズ：</strong><%= dog.size_i18n %></p>
        <p class="mb-1"><strong>誕生日：</strong><%= dog.birthday %></p>
        <p class="mb-0"><strong>性別：</strong><%= dog.gender_i18n %></p>
      </div>

      <% if show_actions %>
        <div class="col-md-2 text-end">
          <div class="d-grid gap-2">
            <%= link_to "編集",  edit_dog_path(dog), class: "btn btn-asobow btn-sm w-100 rounded-pill fw-bold" %>
            <%= link_to "削除", dog_path(dog), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" }, class: "btn btn-outline-danger btn-sm rounded-pill" %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
