<% if dog.errors.any? %>
  <div class="alert alert-danger rounded-4 mb-4">
    <h5 class="fw-bold mb-3">
      <i class="fa-solid fa-circle-exclamation"></i>
      入力内容を確認してください
    </h5>

    <ul class="mb-0">
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: dog, data: { turbo: false } do |f| %>

  <% if dog.image.attached? %>
    <div class="mb-3">
      <p class="form-label">現在の写真</p>
      <%= image_tag dog.image, class: "post-image mb-2" %>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :image, "写真", class: "form-label" %>
    <%= f.file_field :image, class: "form-control" %>
  </div>
  
  <div class="mb-3">
    <%= f.label :name, "名前", class: "form-label" %>
    <span class="badge bg-danger ms-1">必須</span>
    <%= f.text_field :name, class: "form-control"  %>
  </div>

  <div class="mb-3">
    <%= f.label :breed, "犬種", class: "form-label" %>
    <span class="badge bg-danger ms-1">必須</span>
    <%= f.text_field :breed, class: "form-control", placeholder: "例:ビーグル" %>
  </div>

  <div class="mb-3">
    <%= f.label :size, "サイズ", class: "form-label" %>
    <span class="badge bg-danger ms-1">必須</span>
    <%= f.select :size, Dog.sizes.keys.map { |size| [I18n.t("enums.dog.size.#{size}"), size] }, {}, class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= f.label :birthday, "誕生日", class: "form-label" %>
    <span class="badge bg-danger ms-1">必須</span>
    <%= f.date_field :birthday, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :gender, "性別", class: "form-label" %>
    <span class="badge bg-danger ms-1">必須</span>
    <%= f.select :gender, Dog.genders.keys.map  { |gender| [I18n.t("enums.dog.gender.#{gender}"), gender] }, {}, class: "form-select" %>
  </div>

  <%= f.submit submit_text, class: "btn btn-asobow w-100 rounded-pill fw-bold" %>

<% end %>