<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">

      <div class="card shadow-sm border-0 rounded-4">
        <div class="card-body p-4">

          <h2 class="text-center mb-4">管理者ログイン</h2>

          <%= form_with url: admin_login_path do |f| %>
            <div class="mb-3">
              <%= f.label :email_address, "メールアドレス", class: "form-label" %>
              <%= f.email_field :email_address, class: "form-control rounded-pill" %>
            </div>

            <div class="mb-4">
              <%= f.label :password, "パスワード", class: "form-label" %>
              <%= f.password_field :password, class: "form-control rounded-pill" %>
            </div>

            <div class="text-center">
              <%= f.submit "ログイン", class: "btn btn-asobow rounded-pill px-5" %>
            </div>
          <% end %>

        </div>
      </div>

    </div>
  </div>
</div>