<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
       <div class="card shadow-sm border-0 rounded-4">
          <div class="card-body p-4">

            <h2 class="fw-bold text-center mb-4">投稿詳細</h2>

              <div class="row mb-3">
                <div class="col-4 fw-bold">写真</div>
                  <div class="col-8 d-flex flex-wrap gap-2">
                    <% if @post.images.attached? %>
                      <% @post.images.each do |image| %>
                        <%= image_tag image, class: "rounded shadow-sm", style: "width: 180px; height: 140px; object-fit: contain;" %>
                      <% end %>
                    <% else %>
                      <span class="text-muted">画像はありません</span>
                    <% end %>
                  </div>
              </div>

              <div class="row mb-3">
                <div class="col-4 fw-bold">場所名</div>
                <div class="col-8"><%= @post.place_name %></div>
              </div>

              <div class="row mb-3">
                <div class="col-4 fw-bold">タイトル</div>
                <div class="col-8"><%= @post.title %></div>
              </div>

              <div class="row mb-3">
                <div class="col-4 fw-bold">評価</div>
                <div class="col-8 d-flex align-items-center">
                  <div class="raty-read-only" data-score="<%= @post.rating %>"></div>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-4 fw-bold">住所</div>
                <div class="col-8"><%= @post.address %></div>
              </div>

              <div class="row mb-3">
                <div class="col-4 fw-bold">本文</div>
                <div class="col-8"><%= @post.body %></div>
              </div>

              <div class="row mb-3">
                <div class="col-4 fw-bold">投稿者</div>
                <div class="col-8"><%= @post.user.name %></div>
              </div>

              <div class="row mb-3">
                <div class="col-4 fw-bold">投稿日</div>
                  <div class="col-8">
                    <%= l @post.created_at, format: :short %>
                  </div>
              </div>

              <div class="row mb-3">
                <div class="col-4 fw-bold">タグ</div>
                <div class="col-8">
                  <% if @post.tags.present? %>
                    <% @post.tags.each do |tag| %>
                      <span class="badge bg-success me-1">
                        #<%= tag.name %>
                      </span>
                    <% end %>
                  <% else %>
                    <span class="text-muted">タグはありません</span>
                  <% end %>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-4 fw-bold">いいね数</div>
                <div class="col-8"><%= @post.favorites.count %></div>
              </div>

              <div class="row mb-3">
                <div class="col-4 fw-bold">コメント数</div>
                <div class="col-8"><%= @post.comments.count %></div>
              </div>

              <div class="row mb-3">
                <div class="col-4 fw-bold">コメント一覧</div>
                  <div class="col-8">

                    <% if @post.comments.present? %>
                      <% @post.comments.each do |comment| %>
                        <div class="border rounded p-3 mb-2">

                          <p class="mb-1 fw-bold">
                            <%= comment.user.name %>
                          </p>

                          <p class="mb-2">
                            <%= comment.body %>
                          </p>

                          <%= link_to "削除",
                                admin_post_comment_path(@post, comment),
                                data: {
                                turbo_method: :delete,
                                turbo_confirm: "このコメントを削除しますか？"
                                },
                                class: "btn btn-outline-danger btn-sm rounded-pill" %>

                        </div>
                      <% end %>
                    <% else %>
                      <span class="text-muted">コメントはありません</span>
                    <% end %>

                  </div>
                </div>

                <div class="d-grid gap-2 mt-4">
                  <%= link_to "削除", admin_post_path(@post), data:{turbo_method: :delete, turbo_confirm: "この投稿を削除しますか？"}, class: "btn btn-outline-danger w-100 rounded-pill" %>
                  <%= link_to "一覧へ戻る", admin_posts_path, class: "btn btn-outline-secondary w-100 rounded-pill" %>
                </div>

               </div>
      </div>
    </div>
  </div>
</div>
