<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
       <div class="card shadow-sm border-0 rounded-4">
          <div class="card-body p-4">
            
            <h2 class="fw-bold text-center mb-4">コミュニティ詳細</h2>

              <div class="row mb-3">
                <div class="col-4 fw-bold">コミュニティ名</div>
                <div class="col-8"><%= @community.name %></div>
              </div>

              <div class="row mb-3">
                <div class="col-4 fw-bold">作成者</div>
                <div class="col-8"><%= @community.user.name %></div>
              </div>

              <div class="row mb-3">
                <div class="col-4 fw-bold">メンバー一覧</div>
                <div class="col-8">
                  <% approved_members = @community.community_users.approved.includes(:user) %>
                  <% if approved_members.present? %>
                    <% approved_members.each do |community_user| %>
                      <p class="mb-1"><%= community_user.user.name %></p>
                    <% end %>
                  <% else %>
                    <span class="text-muted">参加メンバーはいません</span>
                  <% end %>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-4 fw-bold">作成日</div>
                <div class="col-8"><%= @community.created_at.strftime("%Y/%m/%d") %></div>
              </div>

              <div class="row mb-3">
                <div class="col-4 fw-bold">メンバー数</div>
                <div class="col-8"><%= @community.community_users.approved.count + 1 %>人</div>
              </div>

              <div class="row mb-3">
                <div class="col-4 fw-bold">紹介文</div>
                <div class="col-8"><%= @community.introduction %></div>
              </div>

              <div class="row mb-3">
                <div class="col-4 fw-bold">ルール</div>
                <div class="col-8"><%= @community.rules %></div>
              </div>

              <div class="d-flex justify-content-center gap-3 mt-3">
                <%= link_to "一覧へ戻る", admin_communities_path, class: "btn btn-outline-secondary rounded-pill" %>
                <%= link_to "コミュニティを削除", admin_community_path(@community), data:{turbo_method: :delete, turbo_confirm: "このコミュニティを削除しますか？"}, class: "btn btn-outline-danger rounded-pill" %>
              </div>
          
        </div>
      </div>
    </div>
  </div>
</div>