<% if post.errors.any? %>
  <div class="alert alert-danger rounded-4 mb-4">
    <h5 class="fw-bold mb-3">
      <i class="fa-solid fa-circle-exclamation"></i>
      入力内容を確認してください
    </h5>

    <ul class="mb-0">
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: post, local: true,data: { turbo: false } do |f| %>
  <% if post.persisted? && post.images.attached? %>
    <div class="mb-3">
      <p class="form-label">現在の画像</p>

      <div class="d-flex flex-wrap gap-2">
        <% post.images.each do |image| %>
          <%= image_tag image, class: "post-image rounded" %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :images, "画像(複数可)",class: "form-label" %>
    <%= f.file_field :images, multiple: true,class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :title ,class: "form-label" do %>
      タイトル
       <span class="badge bg-danger ms-1">必須</span>
    <% end %>
    <%= f.text_field :title, class: "form-control", placeholder: "広くて走りやすい公園" %>
  </div>

  <div class="mb-3">
    <%= f.label :rating, for: "post-rating", class: "form-label" do %>
      評価
      <span class="badge bg-danger ms-1">必須</span>
    <% end %>
    <% if post.new_record? %>
      <div id="post-rating" data-score="<%= post.rating %>"></div>
    <% else %>
      <div class="raty-read-only" data-score="<%= post.rating %>"></div>
    <% end %>

  </div>

  <div class="border rounded-4 p-4 mb-4 bg-white">
    <h6 class="fw-bold mb-3">
      <i class="fa-solid fa-location-dot text-danger"></i>
      スポット情報
      <span class="badge bg-danger ms-1">必須</span>
    </h6>

    <div class="mb-3">
      <%= f.label :place_name, class: "form-label" do %>
        場所名
      <% end %>
      <%= f.text_field :place_name, class: "form-control", placeholder: "例:○○公園" %>
    </div>

    <div class="mb-3">
      <%= f.label :category, class: "form-label" do %>
        カテゴリ
      <% end %>

      <div class="d-flex flex-wrap gap-3">
        <% Post.categories_i18n.each do |category, label| %>
          <div class="form-check">
            <%= f.radio_button :category, category, class: "form-check-input", id: "post_category_#{category}" %>
            <%= f.label :category, label, value: category, class: "form-check-label", for: "post_category_#{category}" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="mb-3">
      <%= f.label :parking, class: "form-label" do %>
        駐車場
      <% end %>

      <div class="d-flex flex-wrap gap-3">
        <% Post.parkings_i18n.each do |parking, label| %>
          <div class="form-check">
            <%= f.radio_button :parking, parking,
                class: "form-check-input",
                id: "post_parking_#{parking}" %>

            <%= f.label :parking,
                label,
                value: parking,
                class: "form-check-label",
                for: "post_parking_#{parking}" %>
            </div>
        <% end %>
      </div>
    </div>

    <div class="mb-3">
      <%= f.label :fee, class: "form-label" do %>
        利用料金
      <% end %>

      <div class="d-flex flex-wrap gap-3">
        <% Post.fees_i18n.each do |fee, label| %>
          <div class="form-check">
            <%= f.radio_button :fee, fee,
                class: "form-check-input",
                id: "post_fee_#{fee}" %>

            <%= f.label :fee,
                label,
                value: fee,
                class: "form-check-label",
                for: "post_fee_#{fee}" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="mb-3">
      <%= f.label :address, class: "form-label" do %>
        住所
      <% end %>
      <%= f.text_field :address, class: "form-control", placeholder: "地図をクリックしてください" %>
    </div>

    <div class="mb-4">
      <label class="form-label">
        地図
      </label>

    <div
      id="map"
      class="rounded-4"
      data-map-mode="form"
      data-lat="<%= post.latitude %>"
      data-lng="<%= post.longitude %>"
      style="height: 400px;">
    </div>
  </div>

    <%= f.hidden_field :latitude, id: "post_latitude" %>
    <%= f.hidden_field :longitude, id: "post_longitude" %>

  </div>

  <div class="mb-4">
    <%= f.label :dog_ids, "一緒に遊びに行った犬", class: "form-label fw-bold" %>

    <% if current_user.dogs.any? %>
      <div class="d-flex flex-column gap-2">
        <%= f.collection_check_boxes :dog_ids, current_user.dogs, :id, :name do |b| %>
          <div class="form-check">
            <%= b.check_box class: "form-check-input" %>
            <%= b.label class: "form-check-label" %>
          </div>
        <% end %>
      </div>
    <% else %>
      <p class="text-muted mb-0">
        登録されている犬はいません。
      </p>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.label :body, "本文",class: "form-label" %>
    <%= f.text_area :body, class: "form-control", rows: 5, placeholder: "犬連れで行った感想や注意点を書いてください" %>
  </div>

  <div class="mb-3">
    <%= f.label :tag_names, "タグ", class: "form-label fw-bold" %>

    <%= f.text_field :tag_names,
        value: post.tags.pluck(:name).join(", "),
        class: "form-control",
        placeholder: "例：#ドッグラン #公園 #大型犬OK" %>

      <div class="form-text">
        複数のタグはスペース区切りで入力してください
      </div>
  </div>

  <%= f.submit submit_text, class:  "btn btn-asobow w-100 rounded-pill fw-bold" %>

<% end %>
