<h2>投稿詳細</h2>

<p>
  <% if @post.images.attached? %>
    <% @post.images.each do |image| %>
      <%= image_tag image, class: "post-image" %>
    <% end %>
  <% else %>
    <p>no image</p>
  <% end %>
</p>

<p>タイトル <%= @post.title %></p>

<p>評価 <%= @post.rating %></p>

<p>場所名 <%= @post.place_name %></p>

<p>住所 <%= @post.address %></p>

<p>本文 <%= @post.body %></p>

<p>投稿者 <%= @post.user.name %></p>

<div id="map"
  data-lat="<%= @post.latitude %>"
  data-lng="<%= @post.longitude %>"
  style="height: 400px;">
</div>

<% if @post.user == current_user %>
  <%= link_to "編集", edit_post_path(@post), data: {turbo: false } %>
  <%= link_to "削除", post_path(@post), data:{ turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
<% end %>
