<%= render "shared/page_card",
      title: "会員詳細",
      width: "col-lg-8",
      body_class: "p-4" do %>

  <%= render "shared/detail_row",
        label: "名前",
        value: @user.name %>

  <%= render "shared/detail_row",
        label: "メールアドレス",
        value: @user.email_address %>

  <%= render "shared/detail_row",
        label: "投稿数",
        value: "#{@user.posts.count}件" %>

  <%= render "shared/detail_row",
        label: "登録愛犬数",
        value: "#{@user.dogs.count}匹" %>

  <%= render "shared/detail_row",
        label: "登録愛犬" do %>

    <% if @user.dogs.any? %>
      <% @user.dogs.each do |dog| %>
        <div class="card bg-light border-0 mb-2">
          <div class="card-body py-2">
            <p class="fw-bold mb-1">
              <%= dog.name %>
            </p>

            <p class="mb-0">
              犬種：<%= dog.breed %>
            </p>
          </div>
        </div>
      <% end %>
    <% else %>
      <span class="text-muted">
        登録されていません。
      </span>
    <% end %>

  <% end %>

  <%= render "shared/detail_row",
        label: "ステータス" do %>

    <% if @user.is_active %>
      <span class="badge rounded-pill bg-success">
        利用中
      </span>
    <% else %>
      <span class="badge rounded-pill bg-secondary">
        退会済
      </span>
    <% end %>

  <% end %>

  <div class="d-grid gap-2 mt-4">
    <% if @user.is_active %>
      <%= link_to "利用停止にする",
            withdraw_admin_user_path(@user),
            data: {
              turbo_method: :patch,
              turbo_confirm: "利用停止にしますか？"
            },
           class: "btn btn-outline-danger w-100 rounded-pill" %>
    <% else %>
      <%= link_to "利用再開する",
            reactive_admin_user_path(@user),
            data: {
              turbo_method: :patch,
              turbo_confirm: "利用を再開しますか？"
            },
            class: "btn btn-outline-success w-100 rounded-pill" %>
    <% end %>

     <%= link_to "一覧へ戻る",
            admin_users_path,
            class: "btn btn-outline-secondary w-100 rounded-pill" %>
  </div>
<% end %>