<%= render "shared/page_card", title: "#{@community.name}への参加申請" do %>
  
  <% if @community_users.present? %>

    <% @community_users.each do |community_user| %>
      <div class="border rounded-4 p-3 mb-3">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <p class="fw-bold mb-1">
              <%= community_user.user.name %>
            </p>

            <small class="text-muted">
              申請日：
              <%= community_user.created_at.strftime("%Y/%m/%d") %>
            </small>
          </div>

          <div class="d-flex gap-2">
            <%= link_to "承認", approve_community_user_path(community_user), data: { turbo_method: :patch, turbo_confirm: "#{community_user.user.name}さんの参加申請を承認しますか？"}, class: "btn btn-success btn-sm rounded-pill" %>
            <%= link_to "拒否", reject_community_user_path(community_user), data:{ turbo_method: :patch, turbo_confirm: "#{community_user.user.name}さんの参加申請を拒否しますか？"}, class: "btn btn-outline-danger btn-sm rounded-pill" %>
          </div>
        </div>
      </div>
    <% end %>

     <div class="d-flex justify-content-center mt-4">
      <%= paginate @community_users %>
    </div>
  
  <% else %>

    <p class="text-center text-muted mb-0">
      現在、申請はありません
    </p>

  <% end %>

  <div class="text-center mt-4">
    <%= link_to "詳細へ戻る", community_path(@community), class: "btn btn-outline-secondary w-100 rounded-pill px-4" %>
  </div>

<% end %>