<%= render "shared/form_card", title: "#{@community.name}コミュニティの詳細" do %>

  <div class="row mb-3">
    <div class="col-4 fw-bold">作成者</div>
    <div class="col-8"><%= @community.user.name %></div>
  </div>

  <div class="row mb-3">
    <div class="col-4 fw-bold">コミュニティ紹介</div>
    <div class="col-8"><%= @community.introduction %></div>
  </div>

  <div class="row mb-3">
    <div class="col-4 fw-bold">ルール</div>
    <div class="col-8"><%= @community.rules %></div>
  </div>

  <% if @community.user == current_user %>
    <div class="text-center mt-4">
      <%= link_to "編集", edit_community_path(@community), class: "btn btn-asobow w-100 rounded-pill me-2" %>
      <%= link_to "削除", community_path(@community), data: {turbo_method: :delete, turbo_confirm: "このコミュニティを削除しますか？"}, class: "btn btn-outline-danger w-100 rounded-pill" %>
      <%= link_to "一覧に戻る", communities_path, class: "btn btn-outline-secondary w-100 rounded-pill" %>
    </div>

  <% else %>
    <% community_user = current_user.community_users.find_by(community: @community) %>

    <div class="text-center mt-4">
      <% if community_user.nil? %>
        <%= link_to "参加申請する", community_community_users_path(@community), data: { turbo_method: :post, turbo_confirm: "このコミュニティに参加しますか？"}, class: "btn btn-warning rounded-pill px-4" %>
      <% elsif community_user.pending? %>
        <p class="text-muted">参加申請中です</p>

        <%= link_to "申請を取り消す", community_community_user_path(@community, community_user), data: { turbo_method: :delete, turbo_confirm: "参加申請を取り消しますか？"}, class: "btn btn-outline-danger rounded-pill px-4" %>
      <% elsif community_user.approved? %>
        <p class="text-success fw-bold">参加中です</p>
      <% elsif community_user.rejacted? %>
        <p class="text-danger">参加申請が拒否されました</p>
      <% end %>
    </div>
  <% end %>
<% end %>