<%= render "shared/form_card", title: "#{@community.name}コミュニティの詳細" do %>

  <div class="row mb-3">
    <div class="col-4 fw-bold">作成者</div>
    <div class="col-8"><%= @community.user.name %></div>
  </div>

  <div class="row mb-3">
    <div class="col-4 fw-bold">コミュニティ紹介</div>
    <div class="col-8"><%= @community.introduction %></div>
  </div>

  <div class="row mb-3">
    <div class="col-4 fw-bold">ルール</div>
    <div class="col-8"><%= @community.rules %></div>
  </div>

  <% if @community.user == current_user %>
    <div class="text-center mt-4">
      <%= link_to "編集", edit_community_path(@community), class: "btn btn-asobow w-100 rounded-pill me-2" %>
      <%= link_to "削除", community_path(@community), data: {turbo_method: :delete, turbo_confirm: "このコミュニティを削除しますか？"}, class: "btn btn-outline-danger w-100 rounded-pill" %>
    </div>
  <% end %>

<% end %>